body{
    background: rgb(71, 71, 182);
    font: normal Arial;
    font-size: 15pt;
    
}

header{
    color: #fff;
    text-align: center;

}

section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
    text-align: center;

}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;


}
h2{
    font-weight: 500pt;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

#msg{
    font-size: 20px;
    padding: 15px 0px;
}

img{

    width: 250px;
    height: 250px;
  

}